name: 'Auto Author Assign'
on:
  pull_request:
    types: [opened, reopened, synchronize]
permissions:
  contents: read
jobs:
  assign:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: toshimaru/auto-author-assign@c66af760da33f680c9baa5e8aa27c3a933b11593 # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
